@model neshto_si.Controllers.Models.UserVM
<form asp-action="Register" method="post" asp-controller="Home">
    <div class="form-group">
        <label asp-for="username" class="control-label"></label>
        <input asp-for="username" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="password" class="control-label"></label>
        <input  asp-for="password" class="form-control" />
    </div>   
    <div class="form-group">
        <label asp-for="first_name" class="control-label"></label>
        <input  asp-for="first_name" class="form-control" />
    </div>  
    <div class="form-group">
        <label asp-for="last_name" class="control-label"></label>
        <input  asp-for="last_name" class="form-control" />
    </div>    
    <br></br>
    <div class="form-group">
        <input type="submit" value="register" class="btn btn-primary" />
    </div>
</form>