@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model neshto_si.Controllers.Models.TrainVM
<a asp-action="CreateTrain" asp-controller="Home">Create Train</a>
<table>
    <tr>
        <th>
            id
        </th>
        <th>
           Capacity
        </th>
        <th>
            Type
        </th>
    </tr>
    @foreach (var item in Model.trains)
    {
        <tr>
            <td>
                @item.id
            </td>
            <td>
                @item.capacity
            </td>
            <td>
                @item.type
            </td>
        </tr>
    }
</table>